/*
    Global Classes for all Tabs
 */

.divFloatContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 100%;
}

.divHeadline{
    width: 33%;
    height: 30px;
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 17px;
    padding-top: 10px;
}

.stapp_input{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    margin: 5px;
}


.mainLabel{
    top: -10px;
    left: 10px;
    background-color: #f1f1f1;
    position: relative;
}


.divContent{
    width: 40%;
}


.divButton{
    text-align: center;
    vertical-align: middle;
    background: #777777;
    color: white;
    font-size: 17px;
    cursor: pointer;
    width: 20%;
    margin: 10px;
    padding: 10px;
    top: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.28);
}
.divButton:hover{
    color: white;
    background: #777777;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}